.container {
  width: 50%;
  margin: 0 auto; 
  padding: 20px;
  text-align: left;
}

.form {
  width: 100%;
}

.inputWrapper {
  margin-bottom: 1rem; 
}

input,
select,
textarea {
  width: 100%; 
}

label {
  display: block;
  margin-bottom: 0.5rem; 
}

.buttons {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
}
