
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}


main {
  flex: 1;
}
.disable-interactions {
  pointer-events: none;
  opacity: 0.7;
}


.mantine-LoadingOverlay-root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
html {
  scroll-behavior: smooth;
}